<h1>URL Shortener</h1>

<%= form_with url: encode_page_path, method: "get" do |form| %>
  <p>
    <%= label_tag :url, "Insert URL" %><br>
    <%= text_field_tag :input_long %>
  </p>
  <p>
    <%= button_tag "Submit", name: "submit_button" %>
  </p>
<% end %>
