<h1>Would you like to shorten a url (encode) or get the original url of a short link (decode)?</h1>

<%= button_to "encode", encode_page_path, method: :get%>

<%= button_to "decode", decode_page_path, method: :get%>
